@charset "UTF-8";
/* BACKGROUND COLORS */
/* FUENTES */
/* COLORES */
/* MEDIDAS */
/* GALERÍA */
.galeria-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  cursor: pointer;
  column-gap: .5rem;
  row-gap: .5rem; }

.galeria-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  filter: url("data:image/svg xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10 */
  filter: gray;
  /*IE6-9*/
  -webkit-filter: grayscale(100%);
  /*Chrome 19+ & Safari 6+*/
  -webkit-transition: all .5s ease;
  /*Fade to color for Chrome and Safari*/
  -moz-transition: all .5s ease;
  -webkit-backface-visibility: hidden;
  /*Fix for transition flickering*/ }

.galeria-img img:hover {
  transition: transform .2s;
  transform: translateY(-10px);
  filter: none;
  -webkit-filter: grayscale(0%); }

@media (min-width: 320px) {
  .galeria-img {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 10px;
    margin-left: 10px; } }

@media (min-width: 768px) {
  .galeria-img {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 1024px) {
  .galeria-img {
    grid-template-columns: repeat(4, 1fr); } }

/* TIENDA */
.store {
  background-color: #13b4bd;
  padding-top: 2rem;
  padding-bottom: 3rem; }

.card:hover {
  transition: transform .2s;
  transform: translateY(-10px); }

.btn {
  background: #06507b;
  color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
  border-radius: 2rem;
  box-shadow: 0.313rem 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.36); }

.btn:hover {
  background-color: #ccdc4d;
  color: black; }

.card-title, .card-text {
  text-align: center; }

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto; }

body {
  font-family: 'Lato', sans-serif; }

#galeria, #tienda {
  background-color: #13b4bd; }

#sobreMi, #contacto {
  background-color: #e8e9e7; }

h1, h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-align: center; }

/* ANIMACIONES */
.animate__zoomIn {
  animation-duration: 2s;
  animation-delay: 2s; }

/* FORMULARIO */
.boton {
  background-color: #ccdc4d;
  border: none;
  color: white;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black; }

.boton:hover {
  color: white;
  background-color: #a6d6cd; }
