@import './imports/variables';
@import './imports/grid';
@import './imports/tienda';


/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto; 
}

body {
    font-family: 'Lato', sans-serif;
}

#galeria, #tienda {
    background-color: $colorFondo1;
}

#sobreMi, #contacto {
    background-color: $colorFondo2;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    font-size: $pixeles/2;
    text-align: center;
}

/* ANIMACIONES */
.animate__zoomIn {
    animation-duration: 2s;
    animation-delay: 2s; }

/* FORMULARIO */
.boton {
    background-color: $colorBoton2;
    border: none;
    color: white;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.boton:hover {
    color: white;
    background-color: $colorBoton1;
}