/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@import './imports/variables';
@import './imports/grid';
@import './imports/tienda';
@import './imports/error404';

body {
    font-family: 'Lato', sans-serif;
}

#galeria, #tienda {
    background-color: $colorFondo1;
}

#sobreMi, #contacto {
    background-color: $colorFondo2;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    font-size: $pixeles/2;
    text-align: center;
}

h4 {
    font-family: "Raleway", sans-serif;
}

li {
    font-size: 1.125rem;
    font-family: "Raleway", sans-serif;
}

.tituloppal {
    background-color: #06507b;
    color: white;
}

/* ANIMACIONES */
.animate__zoomIn {
    animation-duration: 2s;
    animation-delay: 2s; }

.animate__slideInLeft {
    animation-duration: 2s;
}

/* MENÚ */    
#menu-nav .nav-link {
    color: #06507b;
}
#menu-nav .nav-link:hover {
    color: black;
}

/* WHATSAPP */
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 50px;
    right: 30px;
    background-color: #2d9f24;
    color: $whitesmoke;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #2d9f24;
    background-color: $whitesmoke;
}

/* GALERÍA */
.button-vermas {
    display: flex;
    flex: 100%;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    padding-bottom: 4rem; 
    padding-top: 2rem;
}

.button-vermas a {
    background-color: #F2F2F2;
    color: black;
    border: none;
    border-radius: 1.25rem;
    padding: 0.625rem 2.5rem;
    text-decoration: none;
    box-shadow: 0.313rem 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.36); }

.button-vermas :hover {
    background: #06507b;
    color: #ccdc4d; }

.button-vermas :visited {
    color: #13b4bd; }

/* FORMULARIO */
.boton {
    background-color: $colorBoton2;
    border: none;
    color: white;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.boton:hover {
    color: white;
    background-color: $colorBoton1;
}
