/* BACKGROUND COLORS */

$colorFondo1: #13b4bd;
$colorFondo2: #e8e9e7;

/* FUENTES */
$fuenteTitulos: 'Dancing Script', cursive;
$fuenteBotones: 'Raleway', sans-serif;

/* COLORES */
$white: #ffffff;
$whitesmoke: #f5f5f5;

/* MEDIDAS */
$pixeles: 100px;